.group-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    width: 100%;
    gap: 30px;
    /* height: 90%; */
    height: fit-content;
    /* background-color: aqua; */

}

.group-card {
    display: flex;
    flex-direction: row;
    width: 70%;
    align-items: flex-end;
    background-color: rgb(177, 177, 177);
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent), rgba(177, 177, 177, 1);
    background-size: 10px 10px; 
    border-radius: 10px;
    padding: 30px 5px;
  }
  
.group-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 15px;
    width: 80%;
    /* gap: 10px; */
    height: 100%;
    color: #000000c6;
    height: fit-content;
}

.group-info > p {
    font-size: 16px;
    width: 50%;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.739);
}

.group-details {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    /* gap: 10px; */
    padding: 15px;
    width: 20%;
}

.group-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.delete-button {
    background-color: #f443368d;
    color: #fff;
    padding: 5px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer; 
    /* font-size: 10px; */
}

.leave-button  {
    border: none;
    background-color: #d7d4d4;
    color: #000000;
    cursor: pointer;
    padding: 5px 25px;
    border-radius: 10px;
}

.join-button  {
    border: none;
    background-color: #d7d4d4;
    color: #000000;
    cursor: pointer;
    padding: 5px 25px;
    border-radius: 10px;
}

.group-details > p > span {
    font-size: 20px;
    font-weight: bold;
}

.group-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    /* padding: 10px 0; */
    gap: 10px;
}

.group-movies {
    flex: 0.7; 
    border-radius: 10px; 
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.group-movie {
    background-color: #37312ad8;
    border: 2px solid #a7a7a798;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* cursor: pointer; */
    align-items: flex-start;
    color: #fff;
}

/* .group-movie:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
} */

.movie-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 90%;
}

.group-reviews {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 8px;
    width: 90%;
}

.review-item {
    background-color: #a7a7a79e;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    gap: 5px;
    font-weight: 500;
}

.review-item > p {
    font-size: 16px;
    font-weight: 400;
    font-weight: bold
}

.review-item > p > span {
    font-size: 12px;
    font-weight: normal;
}

.review-item-submit {
    background-color: #54545479;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    width: 90%;
    height: 22px;
    gap: 5px;
    font-weight: 500;
    color:#fff;
}

.review-item-submit > input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #545454;
    color: #fff;
}

.review-item-submit > input::placeholder {
    color: #ffffff6a;
}

.review-item-submit > input:focus {
    outline: none;
}

.review-item-submit > button {
    padding: 3px;
    background-color: #545454;
    color: #ffffff9a;
    border: none;
    border-radius: 40%;
    cursor: pointer;
}


.addIcon {
    width: 20px;
    height: 20px;
}

.group-members {
    flex: 0.3; 
    background-color: #5e4d4cd3; 
    border-radius: 10px; 
    padding: 10px;
    color: #fff; 
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.group-movie img {
    height: 150px; 
    border-radius: 10px; 
}

.group-members h2 {
    padding-left: 10px;
    font-size: 24px;
    font-weight: bold;
}

.group-members ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.group-members li {
    margin-bottom: 10px;
    font-size: 16px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    font-weight: bold;
}

.group-members button {
    padding: 3px 8px;
    font-size: 10px;
}

.userIcon {
    width: 20px;
    height: 20px;
}
@media (max-width: 928px) {
    .group-card {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .group-content {
      flex-direction: column;
      gap: 20px;
    }
  
    .group-movie {
      flex-direction: column;
      align-items: center;
    }
  }
  